In [4]:
#import dependencies
import pandas as pd
import scipy.stats as st

In [5]:
#Load and read data
weather_csv = "WebVisualizations/Resources/cities.csv"
weather_data = pd.read_csv(weather_csv)

weather_data.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
3,3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95

In [27]:
#Calculate the correlations
corr=round(st.pearsonr(weather_data['Lat'],weather_data['Cloudiness'])[0],2)
print(f"\nThe correlation between latitude and cloudiness is {corr}")

corr=round(st.pearsonr(weather_data['Lat'],weather_data['Wind Speed'])[0],2)
print(f"\nThe correlation between latitude and wind speed is {corr}")

corr=round(st.pearsonr(weather_data['Lat'],weather_data['Humidity'])[0],2)
print(f"\nThe correlation between latitude and Humidity is {corr}\n")

The correlation between latitude and cloudiness is 0.01

The correlation between latitude and wind speed is 0.02

The correlation between latitude and Humidity is -0.14

In [16]:
weather_data.corr()

,City_ID,Cloudiness,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
City_ID,1.000000,0.015659,0.117144,-0.105513,0.054532,-0.004614,0.115053,-0.045039
Cloudiness,0.015659,1.000000,-0.126315,0.469194,0.009084,0.064882,-0.146087,0.118079
Date,0.117144,-0.126315,1.000000,0.139576,-0.074769,0.317014,0.037791,-0.110261
Humidity,-0.105513,0.469194,0.139576,1.000000,-0.136142,0.178542,-0.374289,0.070996
Lat,0.054532,0.009084,-0.074769,-0.136142,1.000000,-0.073901,-0.167460,0.024698
Lng,-0.004614,0.064882,0.317014,0.178542,-0.073901,1.000000,-0.060125,-0.081343
Max Temp,0.115053,-0.146087,0.037791,-0.374289,-0.167460,-0.060125,1.000000,0.018827
Wind Speed,-0.045039,0.118079,-0.110261,0.070996,0.024698,-0.081343,0.018827,1.000000